@charset "UTF-8";
/* ----- Шрифты ----- */
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-MediumItalic.woff2") format("woff2"), url("fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.woff2") format("woff2"), url("fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria-Light.woff2") format("woff2"), url("fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria.woff2") format("woff2"), url("fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria-MediumItalic.woff2") format("woff2"), url("fonts/Geometria-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria-Medium.woff2") format("woff2"), url("fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("fonts/Geometria-Bold.woff2") format("woff2"), url("fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* ----- Настройка лейаута ----- */
html,
body {
  height: auto;
  min-height: 100%;
  min-height: 100vh; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background-color: #fff; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden; }

.main {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.header,
.footer {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

a {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/* ----- Цвета ----- */
/* ----- Основные стили ----- */
/* ----- Шапка ----- */
.header-fullbg {
  background: #e7eaef; }

.header-uprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-lang__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }

.header-lang__item {
  position: relative; }
  .header-lang__item:before {
    content: "";
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    display: block;
    width: 1px;
    height: 100%;
    -webkit-box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.header-lang__link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 8px 9px;
  font-family: "Geometria", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #000; }

.header-lang__item .header-lang__link:hover {
  background-color: #fff; }

.header-lang__item_active:before {
  visibility: visible;
  opacity: 1; }

.header-lang__item_active .header-lang__link {
  background-color: #fff; }

/* ----- Социальные кнопки ----- */
.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif; }
  .social-block__contact {
    display: block;
    margin-right: 35px;
    font-size: 14px;
    color: #ec2a2b; }
    .social-block__contact:hover {
      text-decoration: none;
      color: #a20e0f; }
  .social-block__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none; }
  .social-block__item:not(:last-of-type) {
    margin-right: 6px; }
  .social-block__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #a1a7ad;
    color: #e7eaef; }
    .social-block__link:hover {
      background-color: #ec2a2b;
      color: #fff; }

/* ----- Социальные кнопки ----- */
.header-lowrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 15px; }

.header-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: block;
  width: 100px;
  margin-right: 40px;
  overflow: hidden;
  text-decoration: none;
  font-size: 0; }
  .header-logo__img {
    width: 100%;
    height: auto; }

.header-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none; }
  .header-nav__item:not(:last-of-type) {
    margin-right: 6px; }
  .header-nav__link {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-family: "Geometria", Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000; }
    .header-nav__link:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 13px;
      z-index: -1;
      display: block;
      width: 0;
      height: 6px;
      background-color: #c2c9d1;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .header-nav__link:hover:after {
      width: 100%; }
    .header-nav__link:active:after {
      background-color: #ec2a2b; }

.header-btn {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-search-btn {
  position: relative;
  z-index: 3;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: #343434;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .header-search-btn__search, .header-search-btn__close {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .header-search-btn__close {
    visibility: hidden;
    opacity: 0; }

.header-search-btn_active {
  background-color: #ec2a2b;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
  .header-search-btn_active .header-search-btn__search {
    visibility: hidden;
    opacity: 0; }
  .header-search-btn_active .header-search-btn__close {
    visibility: visible;
    opacity: 1;
    color: #fff; }

.header-search {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  display: block;
  width: 0%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .header-search__caption {
    display: block;
    width: 100%; }
  .header-search__field {
    display: block;
    width: 100%;
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; }
    .header-search__field::-webkit-input-placeholder, .header-search__field::-moz-placeholder, .header-search__field:-ms-input-placeholder, .header-search__field:-moz-placeholder {
      color: #90939a;
      font-family: "Geometria", Arial, sans-serif;
      font-size: 14px;
      font-weight: 500; }
    .header-search__field:hover {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(144, 147, 154, 0.5);
      box-shadow: 0px 0px 10px 1px rgba(144, 147, 154, 0.5); }
    .header-search__field:focus {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(236, 42, 43, 0.7);
      box-shadow: 0px 0px 10px 1px rgba(236, 42, 43, 0.7); }

.header-search-btn_active + .header-search {
  visibility: visible;
  opacity: 1;
  width: 500px; }

/* ----- Кнопка Купить ----- */
.buy-btn {
  display: inline-block;
  width: 180px;
  padding: 13px 0;
  border-radius: 50px;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  background-color: #ec2a2b; }
  .buy-btn:hover {
    background-color: #de1415;
    -webkit-box-shadow: 0 0 20px 1px rgba(236, 42, 43, 0.3);
    box-shadow: 0 0 20px 1px rgba(236, 42, 43, 0.3); }
  .buy-btn:focus {
    background-color: #de1415;
    -webkit-box-shadow: 0 0 5px 1px rgba(236, 42, 43, 0.5);
    box-shadow: 0 0 5px 1px rgba(236, 42, 43, 0.5); }
  .buy-btn:active {
    background-color: #d01314;
    -webkit-box-shadow: 0 0 20px 3px rgba(208, 19, 20, 0.6);
    box-shadow: 0 0 20px 3px rgba(208, 19, 20, 0.6); }

/* ----- Кнопка Купить ----- */
/* ----- Заголовки секций ----- */
.section-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 45px; }
  .section-header:before {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    top: 37px;
    z-index: 0;
    display: block;
    height: 12px;
    background-color: #c2c9d1; }
  .section-header__title {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase; }
  .section-header__link {
    display: inline-block;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #000; }

/* ----- Заголовки секций ----- */
/* ----- Слайдер ----- */
.main-slider__list {
  width: 100%; }

.main-slider__item {
  position: relative;
  padding-bottom: 48%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.main-slider__descr {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1170px;
  height: 100%;
  padding: 0 15px; }

.main-slider__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding: 16% 0; }
  @media screen and (max-width: 1280px) {
    .main-slider__caption {
      padding: 12% 0 12% 7%; } }

.main-slider__group {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1; }
  @media screen and (max-width: 1280px) {
    .main-slider__group {
      font-size: 20px; } }

.main-slider__song {
  padding: 0;
  margin: 0;
  margin-left: -8px;
  text-transform: uppercase;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 95px;
  font-weight: 500;
  line-height: 1;
  color: #ec2a2b; }
  @media screen and (max-width: 1280px) {
    .main-slider__song {
      font-size: 60px; } }

.main-slider__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-slider__google, .main-slider__apple {
  display: block;
  width: 25%;
  padding-bottom: 10%;
  text-decoration: none;
  color: #000;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.main-slider__google {
  background-image: url("images/google.png");
  margin-right: 15px; }

.main-slider__apple {
  background-image: url("images/apple.png"); }

.main-slider__video, .main-slider__audio {
  background-color: transparent;
  border: 1px solid #ec2a2b;
  color: #ec2a2b; }
  .main-slider__video:hover, .main-slider__audio:hover {
    background-color: #ec2a2b;
    color: #fff; }

.main-slider__video {
  margin-right: 15px; }

/* ----- Слайдер ----- */
/* ----- Афиша ----- */
.main-affiche {
  padding: 50px 0; }
  .main-affiche__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-affiche__link svg {
      margin-left: 5px; }
    .main-affiche__link:hover {
      color: #ec2a2b; }
    .main-affiche__link:hover svg {
      -webkit-animation-name: arrow;
      animation-name: arrow;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  .main-affiche__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .main-affiche__item {
    position: relative;
    padding: 27px 0; }
    .main-affiche__item:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -15px;
      right: -15px;
      display: block;
      border-bottom: 1px solid #c2c9d1; }
    .main-affiche__item:last-child:after {
      display: none; }

.affiche-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .affiche-item__when, .affiche-item__address, .affiche-item__social {
    width: 25%; }
  .affiche-item__date, .affiche-item__city {
    font-family: "Geometria", Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1; }
  .affiche-item__month {
    font-size: 24px;
    font-weight: normal; }
  .affiche-item__year {
    color: #c2c9d1; }
  .affiche-item__time, .affiche-item__place {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal; }
  .affiche-item__city {
    display: block; }
  .affiche-item__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .affiche-item__social .social-block__link {
      width: 32px;
      height: 32px;
      color: #fff; }
  .affiche-item__btn {
    border: 1px solid #ec2a2b;
    background-color: transparent;
    color: #ec2a2b; }
    .affiche-item__btn:hover {
      background-color: #ec2a2b;
      color: #fff; }

/* ----- Афиша ----- */
/* ----- Аудио ----- */
.main-audio {
  padding: 50px 0;
  background-image: url("images/news-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .main-audio__header:after {
    background-color: #c2c9d1; }
  .main-audio__title {
    color: #fff; }
  .main-audio__btn {
    margin-right: -15px; }
    .main-audio__btn .section-header__link {
      position: relative;
      padding: 0 15px;
      color: #fff; }
      .main-audio__btn .section-header__link:after {
        content: "";
        position: absolute;
        top: 55%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        height: 60%;
        border-right: 1px solid #fff; }
      .main-audio__btn .section-header__link:last-of-type:after {
        display: none; }
      .main-audio__btn .section-header__link:hover {
        color: #000; }
  .main-audio__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px; }
  .main-audio__more {
    text-align: center; }
  .main-audio__allAlbums, .main-audio__allTracks {
    background-color: transparent;
    border: 1px solid #fff; }
    .main-audio__allAlbums:hover, .main-audio__allTracks:hover {
      border-color: transparent; }
  .main-audio__allAlbums {
    margin-right: 30px; }

.main-album {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40%;
  margin-right: 30px; }
  .main-album__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .main-album__item:not(:last-of-type) {
    margin-bottom: 15px; }
  .main-album__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #000;
    background-color: #fff; }
    .main-album__link:hover {
      -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4); }
    .main-album__link:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      width: 0%;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .main-album__link:hover:after {
      width: 100%;
      border-color: #ec2a2b; }
  .main-album__item_active .main-album__link {
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4); }
  .main-album__item_active .main-album__link:after {
    width: 100%;
    border-color: #ec2a2b; }
  .main-album__img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 30%;
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main-album__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px; }
  .main-album__group, .main-album__title {
    padding: 0;
    margin: 0;
    color: #343434; }
  .main-album__group {
    font-weight: 300; }
  .main-album__title {
    font-family: "Geometria", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-album__link:hover .main-album__title {
    color: #ec2a2b; }
  .main-album__item_active .main-album__title {
    color: #ec2a2b; }
  .main-album__year {
    font-size: 12px;
    font-weight: 300;
    color: #a1a7ad; }

.main-tracks {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  .main-tracks__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .main-tracks__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 30px;
    text-decoration: none;
    background-color: #fff;
    color: #343434;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .main-tracks__item:not(:last-of-type) {
      margin-bottom: 15px; }
    .main-tracks__item:hover {
      -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4); }
  .main-tracks__title {
    padding: 0;
    margin: 0;
    font-weight: 300;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-tracks__item:hover .main-tracks__title {
    color: #ec2a2b; }
  .main-tracks__player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-tracks__check {
    display: none; }
  .main-tracks__capt {
    position: relative;
    width: 40px;
    height: 20px;
    font-size: 2.5em;
    line-height: 1;
    color: #a1a7ad;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer; }
    .main-tracks__capt:hover {
      color: #ec2a2b; }
  .main-tracks__play, .main-tracks__close {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-tracks__close {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-tracks__check:checked ~ .main-tracks__capt .main-tracks__play {
    opacity: 0; }
  .main-tracks__check:checked ~ .main-tracks__capt .main-tracks__close {
    opacity: 1; }
  .main-tracks__audio {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    margin-right: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .main-tracks__audio::-webkit-media-controls-panel {
    background-color: #fff; }
  .main-tracks__check:checked ~ .main-tracks__audio {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

/* ----- Аудио ----- */
/* ----- Видео ----- */
.main-video {
  padding: 50px 0; }
  .main-video__btn .section-header__link {
    color: #ec2a2b; }
    .main-video__btn .section-header__link:hover {
      color: #000; }
  .main-video__content {
    text-align: center; }
  .main-video__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -15px 15px;
    list-style: none; }
  .main-video__item {
    margin: 0 15px 30px; }
  .main-video__more {
    margin: 0 auto; }

.video-item:first-of-type {
  width: 100%; }

.video-item:not(:first-of-type) {
  width: calc(25% - 30px); }

.video-item__link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.video-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.video-item:first-of-type .video-item__pic {
  padding-bottom: 43%; }

.video-item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 5em;
  line-height: 1;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.video-item:first-of-type .video-item__icon {
  font-size: 7em; }

.video-item__title {
  display: none;
  padding: 10px 35px;
  margin: 0;
  text-align: left;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.video-item:first-of-type .video-item__title {
  display: block; }

.video-item__link:hover {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7); }
  .video-item__link:hover .video-item__icon {
    opacity: 1;
    color: #ec2a2b; }
  .video-item__link:hover .video-item__title {
    color: #ec2a2b; }

/* ----- Видео ----- */
/* ----- Новости ----- */
.main-news {
  padding: 50px 0;
  background-image: url("images/news-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .main-news__header:after {
    background-color: #c2c9d1; }
  .main-news__title {
    color: #fff; }
  .main-news__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff; }
    .main-news__link svg {
      margin-left: 5px; }
    .main-news__link:hover {
      color: #000; }
    .main-news__link:hover svg {
      -webkit-animation-name: arrow;
      animation-name: arrow;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  .main-news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -15px 0 -15px;
    list-style: none; }
  .main-news__item {
    width: calc(33.3% - 30px);
    margin: 0 15px 30px; }

.news-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25); }
  .news-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    color: #000; }
  .news-item__pic {
    position: relative;
    width: 100%;
    padding-bottom: 66%;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .news-item__pic:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      width: 0%;
      border: 2px solid transparent;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .news-item__descr {
    padding: 17px 28px; }
  .news-item__title {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-family: "Geometria", Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .news-item__text {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: #a1a7ad;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .news-item__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 30px;
    border-top: 1px solid #d9e0e8;
    font-family: "Geometria", Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #a1a7ad; }
  .news-item:hover .news-item__pic:after {
    width: 100%;
    border-color: #ec2a2b; }
  .news-item:hover .news-item__title {
    color: #ec2a2b; }
  .news-item:hover .news-item__text {
    color: #000; }

/* ----- Новости ----- */
/* ----- Футер ----- */
.footer-uprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 75px 15px; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66%; }
  .footer-menu__nav {
    width: 25%; }

.footer-nav__title {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Geometria", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.footer-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.footer-nav__link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  text-transform: lowercase; }
  .footer-nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: -1;
    display: block;
    width: 0%;
    height: 5px;
    background-color: #c2c9d1;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .footer-nav__link:hover:after {
    width: 100%; }
  .footer-nav__link:active:after {
    background-color: #ec2a2b; }

.footer-social .social-block__item:not(:last-of-type) {
  margin-right: 7px; }

.footer-social .social-block__link {
  width: 34px;
  height: 34px;
  color: #fff; }

.footer-middlerow {
  padding: 5px 15px;
  margin-bottom: 105px; }

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-contact__header {
    width: 100%;
    margin-bottom: 60px; }

.footer-agency {
  width: 66%; }
  .footer-agency__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none; }
  .footer-agency__item {
    position: relative;
    width: 28%; }
    .footer-agency__item:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      height: 80%;
      border-right: 1px solid #c2c9d1; }
    .footer-agency__item:last-of-type:after {
      display: none; }
  .footer-agency__title {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase; }
  .footer-agency__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-agency__mail, .footer-agency__phone, .footer-agency__name {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000; }
  .footer-agency__mail:hover, .footer-agency__phone:hover {
    color: #ec2a2b; }

.footer-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-service__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    text-align: center;
    text-decoration: none;
    color: #000; }
    .footer-service__btn:not(:last-of-type) {
      margin-right: 40px; }
  .footer-service__icon {
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center bottom; }
  .footer-service__icon_1 {
    background-image: url("images/service-icon1.png");
    background-size: 55%; }
  .footer-service__icon_2 {
    background-image: url("images/service-icon2.png");
    background-size: 80%; }
  .footer-service__text {
    text-decoration: underline;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .footer-service__btn:hover .footer-service__text {
    color: #ec2a2b; }

.footer-lowrow {
  background-color: #e7eaef; }
  .footer-lowrow .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.footer-copyright {
  position: relative;
  z-index: 1;
  width: 34%;
  padding: 70px 70px 60px 0; }
  .footer-copyright__text, .footer-copyright__madein {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: #90939a; }
  .footer-copyright__madein {
    position: absolute;
    bottom: 60px;
    margin: 0; }
  .footer-copyright__link {
    color: #ec2a2b; }
    .footer-copyright__link:hover {
      color: #000; }

.footer-subscr {
  position: relative;
  z-index: 2;
  width: 66%; }
  .footer-subscr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 0.1px;
    height: 100%;
    -webkit-box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.5); }
  .footer-subscr__body {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 60px 0px 60px 70px;
    background-color: #e7eaef; }
  .footer-subscr__title {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ec2a2b; }
  .footer-subscr__text {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400; }
  .footer-subscr__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .footer-subscr__capt {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: 10px;
    display: block; }
  .footer-subscr__field {
    display: block;
    width: 100%;
    padding: 13px 34px;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; }
    .footer-subscr__field::-webkit-input-placeholder, .footer-subscr__field::-moz-placeholder, .footer-subscr__field:-ms-input-placeholder, .footer-subscr__field:-moz-placeholder {
      color: #90939a;
      font-family: "Geometria", Arial, sans-serif;
      font-size: 14px;
      font-weight: 500; }
    .footer-subscr__field:hover {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(144, 147, 154, 0.5);
      box-shadow: 0px 0px 10px 1px rgba(144, 147, 154, 0.5); }
    .footer-subscr__field:focus {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(104, 187, 242, 0.7);
      box-shadow: 0px 0px 10px 1px rgba(104, 187, 242, 0.7); }
  .footer-subscr__btn {
    border: none;
    outline: none; }
  .footer-subscr__pact {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: #90939a; }
  .footer-subscr__link {
    color: #90939a;
    font-weight: 500; }
    .footer-subscr__link:hover {
      color: #ec2a2b; }

/* ----- Футер ----- */
/* ----- Анимации ----- */
@-webkit-keyframes pulse-btn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 25px 2px rgba(236, 42, 43, 0.3);
    box-shadow: 0 0 25px 2px rgba(236, 42, 43, 0.3); }
  100% {
    opacity: 0; } }
@keyframes pulse-btn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 0 25px 2px rgba(236, 42, 43, 0.3);
    box-shadow: 0 0 25px 2px rgba(236, 42, 43, 0.3); }
  100% {
    opacity: 0; } }

@-webkit-keyframes arrow {
  25% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  30% {
    opacity: 0; }
  70% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    opacity: 0; }
  75% {
    opacity: 1; } }

@keyframes arrow {
  25% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  30% {
    opacity: 0; }
  70% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    opacity: 0; }
  75% {
    opacity: 1; } }

/* ----- Анимации ----- */
