
$notebook: 1280px;
$tablet: 768px;	

@mixin media-query($value, $operator: 'max-width', $query: 'screen') 
  @media #{$query} and (#{$operator}: #{$value}) 
    @content;

/* ----- Шрифты ----- */
@font-face
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'), url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

@font-face
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.woff2') format('woff2'), url('fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

@font-face
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'), url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

@font-face
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'), url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

@font-face
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'), url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

@font-face
    font-family: 'Geometria';
    src: url('fonts/Geometria-Light.woff2') format('woff2'), url('fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

@font-face
    font-family: 'Geometria';
    src: url('fonts/Geometria.woff2') format('woff2'), url('fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;

@font-face
    font-family: 'Geometria';
    src: url('fonts/Geometria-MediumItalic.woff2') format('woff2'), url('fonts/Geometria-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

@font-face
    font-family: 'Geometria';
    src: url('fonts/Geometria-Medium.woff2') format('woff2'), url('fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

@font-face
    font-family: 'Geometria';
    src: url('fonts/Geometria-Bold.woff2') format('woff2'), url('fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

/* ----- Настройка лейаута ----- */
html,
body 
	height: auto;
	min-height: 100%;
	min-height: 100vh;

html 
	box-sizing: border-box

*,
*:before,
*:after
	box-sizing: inherit

body
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	background-color: #fff;

.wrapper
	position: relative
	display: flex;
	flex-direction: column;
	position: relative
	width: 100%
	min-height: 100%
	min-height: 100vh
	overflow: hidden;

.main
	position: relative
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;

.header,
.footer
	flex-shrink: 0;

.container 
	position: relative;
	width: 100%
	max-width: 1170px;
	padding: 0 15px
	margin: 0 auto;

a
	transition: all 0.2s ease;

/* ----- Цвета ----- */
$head-uprow: #e7eaef;
$buy-btn: #ec2a2b;
$social-btn: #a1a7ad;
$dark-gray: #c2c9d1;
$news-line: #d9e0e8;
$copyr: #90939a;

/* ----- Основные стили ----- */

/* ----- Шапка ----- */
.header-fullbg
	background: $head-uprow;

.header-uprow
	display: flex;
	align-items: center;
	justify-content: space-between;

.header-lang
	&__list
		display: flex;
		padding: 0
		margin: 0
		list-style: none;
	&__item
		position: relative
		&:before
			content: "";
			position: absolute
			right: 5px;
			bottom: 5px;
			z-index: 0
			visibility: hidden;
			opacity: 0
			display: block
			width: 1px
			height: 100%
			box-shadow: 5px 0px 5px 2px rgba(0,0,0, 0.5);
			transform: rotate(10deg);
			transition: all 0.2s ease;
	&__link
		position: relative
		z-index: 1
		display: block
		padding: 8px 9px
		font-family: "Geometria", Arial, sans-serif;
		font-weight: 700
		font-size: 14px
		text-decoration: none
		color: #000;
	&__item &__link:hover
			background-color: #fff
	&__item_active
		&:before
			visibility: visible;
			opacity: 1
	&__item_active &__link
		background-color: #fff

/* ----- Социальные кнопки ----- */
.social-block
	display: flex;
	align-items: center;
	font-family: "Roboto", Arial, sans-serif;
	&__contact
		display: block
		margin-right: 35px
		font-size: 14px
		color: $buy-btn;
		&:hover
			text-decoration: none
			color: darken($buy-btn, 20%);
	&__list
		display: flex;
		align-items: center;
		padding: 0
		margin: 0
		list-style: none;
	&__item:not(:last-of-type)
		margin-right: 6px
	&__link
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px
		height: 20px
		border-radius: 50%;
		text-decoration: none
		background-color: $social-btn
		color: $head-uprow
		&:hover
			background-color: $buy-btn
			color: #fff;
/* ----- Социальные кнопки ----- */

.header-lowrow
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 15px

.header-logo
	flex: 1 0 auto; 
	display: block
	width: 100px
	margin-right: 40px
	overflow: hidden
	text-decoration: none
	font-size: 0
	&__img 
		width: 100%
		height: auto

.header-nav
	flex: 1 0 auto;
	&__list
		display: flex;
		align-items: center;
		padding: 0
		margin: 0
		list-style: none;
	&__item
		&:not(:last-of-type)
			margin-right: 6px
	&__link
		position: relative
		display: block
		padding: 10px 5px
		font-family: "Geometria", Arial, sans-serif;
		font-weight: 700
		text-decoration: none
		text-transform: uppercase
		color: #000;
		&:after
			content: ""
			position: absolute
			left: 0;
			bottom: 13px
			z-index: -1
			display: block
			width: 0
			height: 6px
			background-color: $dark-gray;
			transition: all 0.2s ease;
		&:hover:after
			width: 100%
		&:active:after
			background-color: $buy-btn

.header-btn
	position: relative
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

.header-search-btn
	position: relative
	z-index: 3
	display: block
	width: 54px
	height: 54px
	border-radius: 50%;
	color: #343434;
	transition: all 0.5s ease;
	&__search,
	&__close
		position: absolute
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block
		transition: all 0.2s ease;
	&__close
		visibility: hidden
		opacity: 0
.header-search-btn_active
		background-color: $buy-btn
		transform: rotate(360deg);
		box-shadow: 0 0 5px 0 rgba(0,0,0, 0.5);
		.header-search-btn__search
			visibility: hidden
			opacity: 0
		.header-search-btn__close
			visibility: visible;
			opacity: 1
			color: #fff

.header-search
	position: absolute
	top: 50%;
	right: 10px
	z-index: 2
	transform: translateY(-50%);
	visibility: hidden
	opacity: 0
	display: block
	width: 0%
	transition: all 0.6s ease;
	&__caption
		display: block
		width: 100%
	&__field
		display: block;
		width: 100%
		padding: 15px 25px
		border-radius: 50px
		border: 1px solid gray
		outline: none
		font-family: "Geometria", Arial, sans-serif
		font-size: 14px
		font-weight: 500
		text-decoration: none
		text-transform: uppercase
		white-space: nowrap
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder
			color: $copyr
			font-family: "Geometria", Arial, sans-serif
			font-size: 14px
			font-weight: 500
		&:hover
			box-shadow: 0px 0px 10px 1px rgba($copyr, 0.5)
		&:focus
			box-shadow: 0px 0px 10px 1px rgba($buy-btn, 0.7)

.header-search-btn_active + .header-search
	visibility: visible
	opacity: 1
	width: 500px

/* ----- Кнопка Купить ----- */
.buy-btn 
	display: inline-block
	width: 180px
	padding: 13px 0
	border-radius: 50px;
	font-family: "Geometria", Arial, sans-serif;
	font-size: 14px
	font-weight: 500
	text-align: center
	text-decoration: none
	text-transform: uppercase
	white-space: nowrap
	color: #fff
	background-color: $buy-btn
	&:hover
		background-color: darken($buy-btn, 7%)
		box-shadow: 0 0 20px 1px rgba($buy-btn, 0.3);
	&:focus
		background-color: darken($buy-btn, 7%)
		box-shadow: 0 0 5px 1px rgba($buy-btn, 0.5);
	&:active
		background-color: darken($buy-btn, 10%)
		box-shadow: 0 0 20px 3px rgba(darken($buy-btn, 10%), 0.6);
/* ----- Кнопка Купить ----- */

/* ----- Заголовки секций ----- */
.section-header
	position: relative
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px
	&:before
		content: ""
		position: absolute
		left: -15px;
		right: -15px;
		top: 37px;
		z-index: 0
		display: block
		height: 12px
		background-color: $dark-gray
	&__title
		position: relative
		z-index: 1
		padding: 0
		margin: 0
		font-family: "Geometria", Arial, sans-serif
		font-size: 40px
		font-weight: 500
		text-transform: uppercase
	&__link
		display: inline-block
		font-family: "Geometria", Arial, sans-serif
		font-size: 14px
		font-weight: 500
		text-decoration: none
		text-transform: uppercase
		color: #000;
/* ----- Заголовки секций ----- */

/* ----- Слайдер ----- */
.main-slider
	&__list
		width: 100%
		// padding-bottom: 35%
	&__item
		position: relative
		padding-bottom: 48%
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
	&__descr
		position: absolute
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%
		max-width: 1170px
		height: 100%
		padding: 0 15px
	&__caption
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60%
		height: 100%
		padding: 16% 0
		@include media-query($notebook)
			padding: 12% 0 12% 7%
	&__group
		padding: 0
		margin: 0
		text-transform: uppercase
		font-family: "Geometria", Arial, sans-serif;
		font-size: 26px
		font-weight: 500
		line-height: 1
		@include media-query($notebook)
			font-size: 20px
	&__song
		padding: 0
		margin: 0
		margin-left: -8px
		text-transform: uppercase
		font-family: "Geometria", Arial, sans-serif
		font-size: 95px
		font-weight: 500
		line-height: 1
		color: $buy-btn
		@include media-query($notebook)
			font-size: 60px
	&__media
		display: flex;
	&__google,
	&__apple
		display: block
		width: 25%
		padding-bottom: 10%	
		text-decoration: none
		color: #000;
		font-size: 0
		background-repeat: no-repeat
		background-position: center center
		background-size: contain
	&__google
		background-image: url('images/google.png');
		margin-right: 15px
	&__apple
		background-image: url('images/apple.png')
	&__video,
	&__audio
		background-color: transparent
		border: 1px solid $buy-btn
		color: $buy-btn
		&:hover
			background-color: $buy-btn
			color: #fff;
	&__video
		margin-right: 15px

/* ----- Слайдер ----- */

/* ----- Афиша ----- */
.main-affiche
	padding: 50px 0
	&__link
		display: flex
		align-items: center
		svg
			margin-left: 5px
		&:hover
			color: $buy-btn;
		&:hover svg
			animation-name: arrow;
			animation-duration: 1.5s
			animation-iteration-count: infinite
	&__list
		padding: 0
		margin: 0
		list-style: none;
	&__item
		position: relative
		padding: 27px 0
		&:after
			content: "";
			position: absolute
			bottom: 0;
			left: -15px;
			right: -15px;
			display: block
			border-bottom: 1px solid $dark-gray;
		&:last-child:after
			display: none

.affiche-item
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__when, 
	&__address, 
	&__social
		width: 25% 
	&__date,
	&__city
		font-family: "Geometria", Arial, sans-serif;
		font-size: 30px
		font-weight: 600
		line-height: 1
	&__month
		font-size: 24px
		font-weight: normal
	&__year
		color: $dark-gray
	&__time,
	&__place
		font-family: "Roboto", Arial, sans-serif;
		font-weight: normal
	&__city
		display: block
	&__social
		display: flex;
		justify-content: center;
		.social-block__link
			width: 32px
			height: 32px
			color: #fff;
	&__btn
		border: 1px solid $buy-btn
		background-color: transparent;
		color: $buy-btn
		&:hover
			background-color: $buy-btn
			color: #fff;
/* ----- Афиша ----- */

/* ----- Аудио ----- */
.main-audio
	padding: 50px 0
	background-image: url("images/news-bg.jpg")
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&__header:after
		background-color: $dark-gray
	&__title
		color: #fff;
	&__btn
		margin-right: -15px
		.section-header__link
			position: relative
			padding: 0 15px
			color: #fff
			&:after
				content: ""
				position: absolute
				top: 55%;
				right: 0;
				transform: translateY(-50%)
				display: block
				height: 60%
				border-right: 1px solid #fff;
			&:last-of-type:after
				display: none
			&:hover
				color: #000
	&__content
		display: flex;
		margin-bottom: 45px
	&__more
		text-align: center
	&__allAlbums,
	&__allTracks
		background-color: transparent
		border: 1px solid #fff;
		&:hover
			border-color: transparent
	&__allAlbums
		margin-right: 30px
.main-album
	flex-shrink: 0;
	width: 40%
	margin-right: 30px
	&__list
		padding: 0
		margin: 0
		list-style: none;
	&__item
		&:not(:last-of-type)
			margin-bottom: 15px
	&__link
		position: relative
		display: flex;
		text-decoration: none
		color: #000;
		background-color: #fff
		&:hover
			box-shadow: 1px 0px 5px 0px rgba(0,0,0, 0.4)
		&:after
			content: ""
			position: absolute
			bottom: 0;
			left: 50%
			transform: translateX(-50%)
			display: block
			width: 0%
			border-bottom: 2px solid transparent
			transition: all 0.2s ease
		&:hover:after
			width: 100%
			border-color: $buy-btn
	&__item_active &__link
		box-shadow: 1px 0px 5px 0px rgba(0,0,0, 0.4)
	&__item_active &__link:after
		width: 100%
		border-color: $buy-btn
	&__img
		flex-shrink: 0;
		align-self: flex-start
		width: 30%
		padding-bottom: 30%
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
	&__descr
		display: flex;
		flex-direction: column
		justify-content: space-between;
		padding: 20px 40px
	&__group,
	&__title
		padding: 0
		margin: 0
		color: #343434
	&__group
		font-weight: 300
	&__title
		font-family: "Geometria", Arial, sans-serif
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
		transition: all 0.2s ease;
	&__link:hover &__title
		color: $buy-btn
	&__item_active &__title
		color: $buy-btn
	&__year
		font-size: 12px
		font-weight: 300
		color: $social-btn

.main-tracks
	flex: 1 0 auto;
	&__list
		padding: 0
		margin: 0
		list-style: none;
	&__item
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 30px
		// padding: 0 30px
		text-decoration: none
		background-color: #fff
		color: #343434
		transition: all 0.2s ease
		&:not(:last-of-type)
			margin-bottom: 15px
		&:hover
			box-shadow: 1px 0px 5px 0px rgba(0,0,0, 0.4)
	&__title
		padding: 0
		margin: 0
		font-weight: 300
		transition: all 0.2s ease
	&__item:hover &__title
		color: $buy-btn
	&__player
		display: flex;
		align-items: center;
	&__check
		display: none
	&__capt
		position: relative
		width: 40px
		height: 20px
		font-size: 2.5em
		line-height: 1
		color: $social-btn
		transition: all 0.2s ease;
		cursor: pointer
		&:hover
			color: $buy-btn
	&__play,
	&__close
		position: absolute
		top: 50%;
		left: 50%
		transform: translate(-50%, -50%);
		transition: all 0.2s ease;
	&__close
		opacity: 0
		transition: all 0.2s ease;
	&__check:checked ~ &__capt &__play
		opacity: 0
	&__check:checked ~ &__capt &__close
		opacity: 1
	&__audio
		visibility: hidden
		opacity: 0
		transform: translateX(10px)
		margin-right: 5px
		transition: all 0.3s ease;
	&__audio::-webkit-media-controls-panel
		background-color: #fff
	&__check:checked ~ &__audio
		visibility: visible
		opacity: 1
		transform: translateX(0px)
/* ----- Аудио ----- */

/* ----- Видео ----- */
.main-video
	padding: 50px 0
	&__btn .section-header__link
		color: $buy-btn
		&:hover
			color: #000;
	&__content
		text-align: center
	&__list
		display: flex;
		flex-wrap: wrap;
		padding: 0
		margin: 0 -15px 15px
		list-style: none;
	&__item
		margin: 0 15px 30px
	&__more
		margin: 0 auto;

.video-item
	&:first-of-type
		width: 100%
	&:not(:first-of-type)
		width: calc(25% - 30px)
	&__link
		display: block
		width: 100%
		text-decoration: none
		color: #000;
		background-color: #fff
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	&__pic
		position: relative
		width: 100%
		padding-bottom: 65%
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
	&:first-of-type &__pic
		padding-bottom: 43%
	&__icon
		position: absolute
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
		display: inline-block
		font-size: 5em
		line-height: 1
		color: #fff
		opacity: 0.5
		transition: all 0.2s ease;
	&:first-of-type &__icon
		font-size: 7em
	&__title
		display: none
		padding: 10px 35px
		margin: 0
		text-align: left
		font-family: "Geometria", Arial, sans-serif;
		font-size: 24px
		font-weight: 500
		transition: all 0.2s ease;
	&:first-of-type &__title
		display: block
	&__link:hover
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7);
		.video-item__icon
			opacity: 1
			color: $buy-btn
		.video-item__title
			color: $buy-btn

/* ----- Видео ----- */

/* ----- Новости ----- */
.main-news
	padding: 50px 0
	background-image: url("images/news-bg.jpg")
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	&__header:after
		background-color: $dark-gray
	&__title
		color: #fff;
	&__link
		display: flex
		align-items: center
		color: #fff
		svg
			margin-left: 5px
		&:hover
			color: #000;
		&:hover svg
			animation-name: arrow;
			animation-duration: 1.5s
			animation-iteration-count: infinite
	&__list
		display: flex;
		flex-wrap: wrap;
		padding: 0
		margin: 0 -15px 0 -15px
		list-style: none;
	&__item
		width: calc(33.3% - 30px)
		margin: 0 15px 30px

.news-item
	background-color: #fff
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25);
	&__link
		display: flex;
		flex-direction: column;
		text-decoration: none
		color: #000
	&__pic
		position: relative
		width: 100%
		padding-bottom: 66%
		font-size: 0
		background-repeat: no-repeat
		background-position: center center;
		background-size: cover
		&:after
			content: ""
			position: absolute
			top: 100%
			left: 50%
			transform: translateX(-50%)
			display: block
			width: 0%
			border: 2px solid transparent
			transition: all 0.2s ease;
	&__descr
    padding: 17px 28px;
	&__title
		padding: 0
		margin: 0
		margin-bottom: 15px
		font-family: "Geometria", Arial, sans-serif;
		font-weight: 600;
		font-size: 18px
		line-height: 1.2
		transition: all 0.2s ease;
	&__text
		padding: 0
		margin: 0
		font-weight: 300
		font-size: 14px
		color: $social-btn
		transition: all 0.2s ease;
	&__footer
		display: flex;
		justify-content: space-between;
		padding: 8px 30px
		border-top: 1px solid $news-line
		font-family: "Geometria", Arial, sans-serif
		font-weight: 500
		font-size: 12px
		text-transform: uppercase
		color: $social-btn
	&:hover &__pic:after
		width: 100%
		border-color: $buy-btn
	&:hover	&__title
		color: $buy-btn
	&:hover	&__text
		color: #000
/* ----- Новости ----- */

/* ----- Футер ----- */
.footer-uprow
	display: flex;
	justify-content: space-between;
	align-items: flex-start
	padding: 75px 15px

.footer-menu
	display: flex;
	width: 66%
	&__nav
		width: 25%

.footer-nav
	&__title
		padding: 0
		margin: 0
		margin-bottom: 15px
		font-family: "Geometria", Arial, sans-serif
		font-size: 16px
		font-weight: 600
		text-transform: uppercase
	&__list
		padding: 0
		margin: 0
		list-style: none;
	&__link
		position: relative
		display: inline-block
		font-size: 14px
		font-weight: 400
		color: #000;
		text-decoration: none
		text-transform: lowercase
		&:after
			content: ""
			position: absolute
			left: 0;
			bottom: 3px;
			z-index: -1
			display: block
			width: 0%
			height: 5px
			background-color: $dark-gray
			transition: all 0.2s ease;
		&:hover:after
			width: 100%
		&:active:after
			background-color: $buy-btn

.footer-social
	.social-block__item:not(:last-of-type)
		margin-right: 7px
	.social-block__link
		width: 34px
		height: 34px
		color: #fff;

.footer-middlerow
	padding: 5px 15px
	margin-bottom: 105px;

.footer-contact
	display: flex
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between
	&__header
		width: 100%
		margin-bottom: 60px

.footer-agency
	width: 66%
	&__list
		display: flex;
		justify-content: space-between;
		padding: 0
		margin: 0
		list-style: none;
	&__item
		position: relative
		width: 28%
		&:after
			content: ""
			position: absolute
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: block
			height: 80%
			border-right: 1px solid $dark-gray
		&:last-of-type:after
			display: none
	&__title
		padding: 0
		margin: 0
		margin-bottom: 15px
		font-family: "Geometria", Arial, sans-serif
		font-size: 16px
		font-weight: 600
		text-transform: uppercase
	&__descr
		display: flex;
		flex-direction: column;
	&__mail,
	&__phone,
	&__name
		display: inline-block
		text-decoration: none
		font-size: 14px
		font-weight: 400
		color: #000
	&__mail,
	&__phone
		&:hover
			color: $buy-btn

.footer-service
	display: flex;
	&__btn
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 110px
		text-align: center
		text-decoration: none
		color: #000
		&:not(:last-of-type)
			margin-right: 40px
	&__icon
		width: 60px
		height: 50px
		margin-bottom: 10px
		background-repeat: no-repeat
		background-position: center bottom
	&__icon_1
		background-image: url("images/service-icon1.png")
		background-size: 55%
	&__icon_2
		background-image: url("images/service-icon2.png")
		background-size: 80%
	&__text
		text-decoration: underline
		font-family: "Geometria", Arial, sans-serif
		font-size: 16px
		font-weight: 500
		line-height: 1.2
		transition: all 0.2s ease
	&__btn:hover &__text
		color: $buy-btn

.footer-lowrow
	background-color: $head-uprow
	.container
		display: flex;

.footer-copyright
	position: relative;
	z-index: 1
	width: 34%	
	padding: 70px 70px 60px 0
	&__text,
	&__madein
		width: 100%
		padding: 0
		margin: 0
		margin-bottom: 15px
		font-size: 14px
		font-weight: 300
		line-height: 1.2
		color: $copyr
	&__madein
		position: absolute
		bottom: 60px
		margin: 0;
	&__link
		color: $buy-btn
		&:hover
			color: #000;

.footer-subscr
	position: relative
	z-index: 2
	width: 66%
	&:before
		content: ""
		position: absolute
		top: 0;
		left: 0;
		z-index: 3
		display: block
		width: 0.1px
		height: 100%
		box-shadow: 0px 0 15px 1px rgba(0,0,0, 0.5);
	&__body
		position: relative
		z-index: 4
		width: 100%
		height: 100%
		padding: 60px 0px 60px 70px
		background-color: $head-uprow
	&__title
		padding: 0
		margin: 0
		margin-bottom: 5px
		font-family: "Geometria", Arial, sans-serif;
		font-size: 30px
		font-weight: 500
		text-transform: uppercase
		color: $buy-btn
	&__text
		padding: 0
		margin: 0
		margin-bottom: 40px
		font-family: "Geometria", Arial, sans-serif;
		font-size: 18px
		font-weight: 400
	&__form
		display: flex;
		align-items: center;
		margin-bottom: 20px
	&__capt
		flex: 1 0 auto;
		margin-right: 10px
		display: block
	&__field
		display: block;
		width: 100%
		padding: 13px 34px
		border-radius: 50px
		border: 1px solid gray
		outline: none
		font-family: "Geometria", Arial, sans-serif
		font-size: 14px
		font-weight: 500
		text-decoration: none
		text-transform: uppercase
		white-space: nowrap
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder
			color: $copyr
			font-family: "Geometria", Arial, sans-serif
			font-size: 14px
			font-weight: 500
		&:hover
			box-shadow: 0px 0px 10px 1px rgba($copyr, 0.5)
		&:focus
			box-shadow: 0px 0px 10px 1px rgba(#68bbf2, 0.7)
	&__btn
		border: none;
		outline: none;
	&__pact
		padding: 0
		margin: 0
		font-size: 14px
		font-weight: 300
		line-height: 1.2
		color: $copyr
	&__link
		color: $copyr
		font-weight: 500
		&:hover
			color: $buy-btn
/* ----- Футер ----- */

/* ----- Анимации ----- */
@keyframes pulse-btn
	0%
		opacity: 0;
	50%
		opacity: 1
		box-shadow: 0 0 25px 2px rgba($buy-btn, 0.3);
	100%
		opacity: 0
	
@keyframes arrow
	25%
		transform: translateX(3px)
	30%
		opacity: 0
	70%
		transform: translateX(-3px)
		opacity: 0
	75%
		opacity: 1
/* ----- Анимации ----- */